<!DOCTYPE html>
<% if flash[:stephen] %>
<%= flash[:stephen] %>
<% end %>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to CRYPTOCHAMBR</title>
</head>

<body>
    <div class="body-bkg">
        <div class="splash-container">
            <%= image_tag("crypto.svg", :class => 'main-logo') %>
            <p class="splash-text">Buy & sell cryptocurrencies.</p>
            <a href="/signup"><button class="splash-btn">Sign Up <i class="fas fa-user-plus"></i></button></a><a href="/login"><button class="splash-btn">Log In <i class="fas fa-sign-in-alt"></i></button></a>
        </div>
    </div>
    <div id="particles-js"></div>


</body>

</html>
