<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to CRYPTOCHAMBR</title>
</head>

<body>
    <div class="body-bkg">
        <div class="splash-container">
            <%= image_tag("crypto.svg", :class => 'main-logo') %>
            <p class="splash-text">Test Text Test Text Test Text</p>
            <button>Sign Up</button> <button>Log In</button>
        </div>
    </div>
    <div id="particles-js"></div>
    
    
</body>

</html>