/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Frame Work Styles */
a {
    z-index: 2;
}

hr {
    width: 90%;
    height: 2px;
    background-color: #E8E972;
    border:0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: left;
}
.status-bar li {
    position: fixed;
    right: 10px;
    top: 8px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #71b676;
    background: linear-gradient(360deg, #71b676, #7cc4f2)
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    font-weight: 100;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
}

h4 {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

canvas {
    width: 100%;
    height: 100%;
    z-index: -1;
}

span {
    color: #E8E972;
    font-weight: 600;
}

.navbar {
    background-color: skyblue;
    background: linear-gradient(30deg, #5b59da, #7cc4f2);
}

.button {
    background-color: #E8E972;
    background: linear-gradient(30deg, #E8E972, #fdb021);
    width: 100px;
    height: 40px;
    color: white;
    border: 0;
    border-radius: 20px;
    font-size: 18px;
}

.button:hover {
    background-color: #71B676;
    background: linear-gradient(30deg, #fdb021, #E8E972);
    color: white;
    cursor: pointer;
}

.app-btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    width: 140px;
    height: 35px;
    border-radius: 40px;
    margin: 10px;
    border: 0;
}

.app-btn:hover {
    cursor: pointer;
    background-color: #7cc4f2;
    color: white;
}


.text-field {
    border-radius: 40px;
    height: 50px;
    width: 300px;
    border: none;
    font-size: 18px;
    margin-top: 20px;
    padding-left: 30px;
    padding-top: 10px;
    z-index: 3;
}

.main-logo {
    margin-top: 0;
    margin-bottom: 2px;
}

#body-bkg {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #71B676;
    background: linear-gradient(255deg, #7cc4f2, #71b676, #7cc4f2);
    background-size: 300% 300%;
    -webkit-animation: Swell 20s ease infinite;
    animation: Swell 20s ease infinite;
    z-index: -2;
}

#bkg {
    width: 100vw;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #71B676;
    background: linear-gradient(255deg, #7cc4f2, #71b676, #7cc4f2);
    background-size: 300% 300%;
    -webkit-animation: Swell 20s ease infinite;
    animation: Swell 20s ease infinite;
    z-index: -2;
}

@-webkit-keyframes Swell {
    0% {
        background-position: 93% 0%
    }

    50% {
        background-position: 0% 100%
    }

    100% {
        background-position: 93% 0%
    }
}

@keyframes Swell {
    0% {
        background-position: 93% 0%
    }

    50% {
        background-position: 0% 100%
    }

    100% {
        background-position: 93% 0%
    }
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0px;
    left: 0px;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    pointer-events: none;
}

.splash-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    margin-top: 0;
}

.splash-btn {
    font-family: 'Montserrat', sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    width: 180px;
    height: 50px;
    border: 0;
    border-radius: 40px;
    color: #71B676;
    font-size: 20px;
    z-index: 1;
}

.splash-btn:hover {
    background-color: #7cc4f2;
    color: white;
    cursor: pointer;
}

.splash-container {
    margin-top: 15%;
    z-index: 3;
}


.row {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-left: 20%;
}

.column {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 20%;

}

.column p {
    margin: 5px;
}

.wallet-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
}

.wallet-btn {
    font-size: 40px;
    width: 300px;
    height: 80px;
    border-radius: 40px;
    padding: 0 20px 0 20px;
    background-color: #E8E972;
    color: #71B676;
    border: 0;
}

.wallet-btn:hover {
    background-color: #7cc4f2;
    color: white;
    cursor: pointer;
}

.wallet-field {
    font-size: 100px;
    width: 50%;
    height: 20%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    border-radius: 80px;
    text-align: center;
    border: 0;
    color: #71b676;
}

.new-container {
    display: flex;
    flex-direction: column;
}

.triangles {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 0;
}

.new-btn {
    border-radius: 40px;
    height: 50px;
    width: 200px;
    border: none;
    font-size: 20px;
    line-height: 40px;
    margin-top: 20px;
    background-color: #E8E972;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.new-btn:hover {
    background-color: #7cc4f2;
    cursor: pointer;
}

.coin-bkg {
    position: fixed;
    top: 10%;
    left: 55%;
}

.coin-img-bkg {
    width: 40vw;
    opacity: 0.1;
    pointer-events: none;
}

/* House keeping stuff */

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

::placeholder {
    color: #71b676;
    font-family: 'Montserrat', sans-serif;
}

input,
textarea {
    color: #71b676;
    font-family: 'Montserrat', sans-serif;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #ccc;
    text-shadow: none;
    -webkit-text-fill-color: initial;
}